
[submodule "BH - Figma - Automate HK - Keyboard Themes"]
    path = BH - Figma - Automate HK - Keyboard Themes
    url = https://github.com/prashan-s/Automate-Fetch-Figma-Colors.git

[submodule "BH - Spell Variation"]
    path = BH - Spell Variation
    url = https://github.com/prashan-s/Generate-Spell-Variations.git

[submodule "JR - Generate - Note"]
    path = JR - Generate - Note
    url = https://github.com/prashan-s/Automate-Generate-QA-Note.git

[submodule "BH - Firebase dSYM Upload"]
    path = BH - Firebase dSYM Upload
    url = https://github.com/prashan-s/Automate-Firebase-DSYM-Upload.git

[submodule "BH - Figma - Automate HK - Keyboard Themes"]
    path = BH - Figma - Automate HK - Keyboard Themes
    url = https://github.com/prashan-s/Automate-Fetch-Figma-Colors.git
