
[submodule "BH - Figma - Automate HK - Keyboard Themes"]
    path = BH - Figma - Automate HK - Keyboard Themes
    url = https://github.com/prashan-s/Automate-Fetch-Figma-Colors.git

[submodule "BH - Spell Variation"]
    path = BH - Spell Variation
    url = https://github.com/prashan-s/Generate-Spell-Variations.git
